.jumbotron {
	background-color: #262626;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0; 
}

body {
	background-color: #3f3f3f;
	color: #f9f9f9;
	font-family: "Open Sans";
}

#flightboard table {
	width: 100%;
}

#flightboard th {
	color: #fff200;
	text-align: left;
	height: 50px;
	font-size: 16pt;
	
}
th {
	color: #fff200;
	text-align: left;
	height: 50px;
	font-size: 16pt;
	
}

.selected {
	height: 80px;
}

.ontime {
	color: #009302;
}

.delayed {
	color: #ffd507;
}

.tab {
  	overflow: hidden;
	background-color: #3f3f3f;
	color: #f9f9f9;
}

#Arrivals, #upcoming {
	display: block;
}

/* Style the buttons inside the tab */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 30px;
  color: #f9f9f9;
  width: 50%;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #262626
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  background-color: #262626;


}

.name {
	width: 20%;
}
.source, .destination {
	width: 30%;
}
.time {
	width: 20%;
}
.status {
	width: 30%;
}
#airport_title {
	font-size: 30pt;
}

.airportdiv {
	background-color: #262626;
	color: #f9f9f9;
}

#pw {
	width: 50%;
}



#searchInput:focus {outline: 3px solid #ddd;}


.adminform{
	width: 50%;
}
.dropdown-content {
	font-size: 12pt;
	background-color: #f6f6f6;
	width: 250px;
	max-height: 300px;
	text-align: left;
	overflow: scroll;
	border: 1px solid #ddd;
	z-index: 1;
	position: absolute;
	top: 55px;	
	right: 0;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown a:hover {
	background-color: #ddd;
}
.canceled {
	color: red;
}

.show {display: block;}

.hide {display: none;}

.planetype, .weather, .departed_at {
	font-size: 10pt;
	color: #ccc;
	margin-top: 8px;
}
.planetype {
	cursor:pointer;
}

.navbar {
	background-color: #262626;
}
.main {
	margin-top: 30px;
}
#zeroResults {
	color: black;
}